<app-navigation></app-navigation>

<div class="home">

    <section class="hero">
        <p>WPAngular is an open source project that aims to help developers find good references, tools and boilerplate code to integrate the amazing WordPress CMS with the amazing Angular framework.</p>
        <p><b>Source</b>: <a href="https://github.com/alvarofranz/wpangular" target="_blank">View on GitHub</a></p>
    </section>

    <section class="posts">
        <h1>Posts</h1>
        <ul>
            <li *ngFor="let post of posts">
                <a [routerLink]="[post.slug]">
                    <img *ngIf="post.featured_img_url" [src]="post.featured_img_url">
                    {{post.title.rendered}}
                </a>
            </li>
        </ul>
        <p *ngIf="displayMoreButton" (click)="listMorePosts()">More</p>
    </section>

    <section class="sitemap">

        <h1>Sitemap</h1>

        <div class="block categories"><b>Categories:</b>
            <ul>
                <li *ngFor="let category of categories"><a [routerLink]="[dynamicGlobals.categoryBase,category.slug]">{{category.name}}</a></li>
            </ul>
        </div>

        <div class="block tags"><b>Tags:</b>
            <ul>
                <li *ngFor="let tag of tags"><a [routerLink]="[dynamicGlobals.tagBase,tag.slug]">{{tag.name}}</a></li>
            </ul>
        </div>
        
        <div class="block pages"><b>Pages:</b>
            <ul>
                <li *ngFor="let page of pages"><a [routerLink]="[page.slug]">{{page.title.rendered}}</a></li>
            </ul>
        </div>
        
    </section>

</div>