@import "../../../assets/css/variables";
@import "../../../assets/css/media-query";

#pt-retail-single {
  //ABOUT RETAIL
  .about-retail{
    background: $black;
    padding-top: 12.5rem;
    @include respond-below(sm){
      padding-top: 6rem;
    }
    .white-bg{
      background: #fff;
    }
    h1{
      color:$color-1;
    }
    .about-retail-wrap{
      background: $gray-2;
      padding: 8rem 4rem;
      @include respond-below(lg){
        padding: 4rem 2rem;
        order: 2;
      }
      @include respond-below(md){
        padding: 4rem 2rem;
        order: 2;
      }
      @include respond-below(sm){
        padding: 4rem 2rem;
        order: 2;
      }
      p{
        margin-bottom: 0;
      }
      .retail-title{
        display: flex;
        justify-content: space-between;
        .availability{
          display: flex;
          align-items: center;
          span{
            border-radius: 50px;
          }
        }
        .predany{
          span{
            color: red;
            border: 1px solid red;
            padding: 0.5rem 1rem;
          }
        }
        .na-prenajom{
          span{
            color: #A3AB2E;
            border: 1px solid #A3AB2E;
            padding: 0.5rem 1rem;
          }
        }
        .rezervovany{
          span{
            color: orange;
            border: 1px solid orange;
            padding: 0.5rem 1rem;
          }
        }
        .volny{
          span{
            color: #A3AB2E;
            border: 1px solid #A3AB2E;
            padding: 0.5rem 1rem;
          }
        }
      }
      .retail-info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 2rem;
        .floors-wrap,
        .rooms-wrap,
        .total-area-wrap,
        .interior-area-wrap,
        .terrace-wrap,
        .parking-space-wrap {
          display: flex;
          justify-content: space-between;
        }
        .floors-wrap{
          border-top: 1px solid #D8D8D8;
          border-bottom: 1px solid #D8D8D8;
          padding: 1rem 0;
        }
        .rooms-wrap{
          border-bottom: 1px solid #D8D8D8;
          padding: 1rem 0;
          margin-bottom: 1rem;
        }
        .link{
          margin-top:3rem;
        }

      }
    }
    .right-img{
      img{
        width: 100%;
        @include respond-below(md){
          height: 60vh;
          order: 1;
        }
        @include respond-below(sm){
          height: 45vh;
          order: 1;
        }
      }
    }
  }
  //STANDARD
  .standard{
    padding-bottom: 16rem;
    @include respond-below(sm){
      padding-bottom: 100%;
    }
    .standard-bg{
      position: relative;
      min-height: 60vh;
      @include respond-below(md){
        min-height: 40vh;
      }
      @include respond-below(sm){
        min-height: 30vh;
      }
      .content-wrap{
        background: $white;
        width: 50%;
        padding:3.5rem 5.5rem 1rem 2.5rem;
        right: 100px;
        bottom: -15%;
        position: absolute;
        @include respond-below(md){
          width: 80%;
          left: 100px;
          bottom: -45%;
        }
        @include respond-below(sm){
          padding:3.5rem 2.5rem 1rem 2.5rem;
          width: 100%;
          right: 0;
          top: 100%;
          left: 0;
        }
        h2{
          @include respond-below(sm){
            margin-bottom: 1.5rem;
          }
        }
        .buttons-wrap{
          display: flex;
          flex-direction: column;
          .link{
            margin:1rem;
          }
        }
      }
    }
  }

  //CONTACT INFO
  .contact-info{
    background: $black;
    padding: 8rem 0 12rem;
    @include respond-below(md){
      padding: 10rem 0 2rem;
    }
    @include respond-below(sm){
      padding: 8rem 0 0;
      margin-top: 4rem;
    }
    .contact-info-head{
      h2{
        text-align: center;
        white-space: break-spaces;
        margin-bottom: 6rem;
        color: $white;
        line-height: 1.3;
      }
    }
    .contact-text{
      position: relative;
      padding: 6rem;
      z-index: 1;
      @include respond-below(lg){
        padding: 6rem 3rem;
      }
      @include respond-below(sm){
        padding: 4rem 2rem 1rem;
      }
      .contact-text-wrap{
        margin-bottom: 2.5rem;
      }
      h4{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 1.25rem;
        color: $white;
      }
      span{
        display: block;
        color: $white;
      }
    }
    .contact-text-column{
      position: relative;
      display: flex;
      align-items: center;
      &:after{
        z-index: 0;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.5;
      }
    }
    .contact-form{
      position: relative;
      padding: 6rem;
      @include respond-below(lg){
        padding: 6rem 3rem 3rem;
      }
      @include respond-below(sm){
        padding: 4rem 2rem 1rem;
      }
      .wpcf7-checkbox{
        .wpcf7-list-item{
          margin: 0 0 1rem;
          display: block;
          .wpcf7-list-item-label{
            cursor: pointer;
          }
          input[type="checkbox"] {
            position: relative;
            width: 12px;
            height: 12px;
            background-color: white;
            border-radius: 50%;
            vertical-align: middle;
            -webkit-appearance: none;
            cursor: pointer;
            margin: 0 1rem 0 0;
            &:checked {
              background-color: $color-1;
            }
            &::before{
              content: '';
              width: 24px;
              height: 24px;
              border-radius: 50%;
              border: 1px solid #B9B9B9;
              top: 50%;
              left: 50%;
              position: absolute;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
      input[type="text"], input[type="tel"], input[type="email"], textarea {
        border: none;
        border-bottom: 1px solid #B9B9B9;
        font-size: 16px;
        margin-bottom: 2rem;
        transition: 0.3s;
        width: 100%;
        padding: 8px 0;
        &:focus{
          outline: none;
          border-bottom: 1px solid $black;
          transition: 0.4s;
        }
      }
      .button{
        background: $black;
        border: 1px solid $black;
        &:hover{
          border: 1px solid $black;
          background: $white;
        }
      }
      .acceptance-gdpr{
        margin-bottom: 1rem;
        display: block;
        .wpcf7-list-item{
          margin: 0;
        }
        input{
          margin-right: 1rem;
          transform: scale(1.2);
        }
        a{
          text-decoration: underline;
        }
      }
    }
  }
}
